/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(imagen/Fundo.jpg);
    background-size: 50%;
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /*Centraliza a imagem na tela*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para o container do formulário */
.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os campos de entrada */
.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Estilos para o botão */
button {
    background-color: #26a96a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c7e4f;
}

/* Estilos para o botão de fechar */
.close-button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #999;
}